@mixin bgPosition($iconW, $iconH, $iconX, $iconY){
    $spriteW: {{width}};
    $spriteH: {{height}};
    @if($spriteW == $iconW) {
        background-position: (0 ($iconY / ($spriteH - $iconH)) * 100%);
    }
    @else if($spriteH == $iconH) {
        background-position: (($iconX / ($spriteW - $iconW)) * 100% 0);
    }
    @else {
        background-position: (($iconX / ($spriteW - $iconW)) * 100% ($iconY / ($spriteH - $iconH)) * 100%);
    }
}

{{each items item index}}
.icon-{{item.name}}{
    width: {{item.value.width/(2*rempx)}}rem;
    height: {{item.value.height/(2*rempx)}}rem;
    {{if algorithm == 'top-down'}}background-size: 100% auto;
    {{else algorithm == 'left-right'}}background-size: auto 100%;
    {{/if}}background-image: url({{pngname}}.png);
    @include bgPosition({{item.value.width}},{{item.value.height}},{{item.value.x}},{{item.value.y}});
}
{{/each}}
